html, body {
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#viewport {
    width: 640px;
    height: 256px;
    position:absolute;
    overflow-x: auto;
    background-image: url('../cruise-ships-gui/images/water0.png');
}

#ports {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../cruise-ships-gui/images/port.png');
}

#ship {
    width: 128px;
    height: 64px;
    background-image: url('../cruise-ships-gui/images/ship.png');
    margin-left: 50px;
    position: absolute;
}

#sailbutton{
    border: 0;
    background-color: rgb(28, 47, 156);
    border-bottom: 4px solid #d8040f;
    color: white;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    font-family: 'Open Sans', sans-serif;
}

#sailbutton:focus {
    background-color: lawngreen;
    color: magenta;
    border-bottom-width: 0;
    padding-top: 14px;
}

#message {
    padding: 16px;
    font-family: 'Press Start 2p', cursive;
    position: absolute;
    width: 200%;
    bottom: 0;
    background-color: rgb(18, 214, 204);
    padding-top: 14px;
}

.HUD {
    position: relative;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left:initial;
    top: -350px;
    right: auto;
    left: 54vmax;
    width: fit-content;
    color: white;
    text-align:center;
}

form {
    flex-shrink: initial;
    box-sizing: flex;
    position: relative;
    margin-bottom: 0%;
    margin-left:0%;
    left: -650px;
    right: 100px;
    top: -350px;
    border-width: 0px;
    text-align: left;
    color: white;
    font-family: 'Press Start 2p', cursive;
}

form > div.container{
    padding: 6px;
}

button{
    background-color: red;
    font-family: 'Press Start 2p', cursive;
    color: white;
}